*.py[cod]

.DS_Store
build
devel

.idea/

venv/

profile.tmp

testing/
.ipynb_checkpoints
collected_images
/traffic_light_detection/real_environment/model/
/ros/src/tl_detector/light_classification/model/
